# Ignore node_modules directory
node_modules/

# Ignore build output directory
dist/

# Ignore cache and temporary files
.cache/
.temp/

# Ignore logs
logs/

# Ignore environment-specific files
.env.local
.env.development.local
.env.production.local

# Ignore editor-specific files
.vscode/
.idea/

# Ignore yarn.lock for Yarn
yarn.lock

# Vitepress specific
docs/.vitepress/dist
docs/.vitepress/cache